$toast-img-offset: -2em;

#toast {
  justify-self: center;
  position: relative;

  p {
    @extend .inter;
    background-color: $toast-bg-color;
    border-radius: $border-radius-sm;
    color: $white;
    font-size: 1.5em;
    margin: 0 0 2em;
    padding: 0.8rem 2.5rem;
    position: relative;
    z-index: 1;

    // Small Mobile screen width: (320 + 1)px.
    @media (max-width: $sm-mobile-screen-width) {
      padding: 0.8rem 1.5rem;
    }
  }

  > picture > img {
    position: absolute;
    bottom: 2em;
    height: 4em;
    width: 3.5em;
  }

  // Left image.
  :first-child > img {
    left: $toast-img-offset;
  }

  // Right image.
  :last-child > img {
    right: $toast-img-offset;
  }
}
