// Action Buttons.
$action-btn-bg-color: #ebf0f4;
$action-btn-bg-gradient-from-color: #f6f8fa;
$action-btn-border-color: #ccd1d5;
$action-btn-text-color: #24292f;

// Base colors.
$white: #fff;

// Background.
$bg-color-dark: #43115b;
$bg-color-light: #5a1e76;

// Border.
$border-radius-sm: 0.2rem;
$border-radius-md: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 0.75rem;

// Font Family.
$primary-font: "Fredoka", sans-serif;
$primary-variable-font: "Fredoka Variable", sans-serif;
$github-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif;
$secondary-font: "Inter", sans-serif;

// Game Button.
$game-btn-default-hover-color: #c5a0d7;

// Game Container.
$container-bg-color: #2b0040;
$toast-bg-color: #06802f;

// Player's.
$draw-color: #bcdbf9;
$o-color: #e2be00;
$x-color: #48d2fe;

// Screen width's.
$custom-laptop-screen-width: 1166px;
$custom-tablet-screen-width: 658px;
$custom-mobile-screen-width: 465px;
$lg-mobile-screen-width: 426px;
$md-mobile-screen-width: 376px;
$sm-mobile-screen-width: 321px;

// Title.
$title-text-color: #dcbf3f;
$mid-title-text-color: #72cff9;
