#backdrop {
  @include grid($align-items: center, $justify-content: center);
  background-color: $bg-color-light;
  border-radius: 3rem;
  height: 96vh;
  width: 93vw;
  overflow: hidden;
  position: relative;

  // Custom Laptop screen width: 1166px.
  @media (max-width: $custom-laptop-screen-width) {
    height: auto;
    margin: auto;
    overflow: visible;
  }

  // Large Mobile screen width: (425 + 1)px.
  @media (max-width: $lg-mobile-screen-width) {
    border-radius: 0;
    padding-top: 5em;
    width: 100vw;
    transition: all 150ms ease-in-out;
  }

  // Mobile Medium screen width: (375 + 1)px.
  @media (max-width: $md-mobile-screen-width) {
    padding: 5.5em 0 0.2em;
  }
}
