@use "../abstracts/mixins";
@use "../abstracts/variables";

#score-board {
  @include mixins.flexbox($justify-content: center);

  > * {
    // Player X score card.
    &:first-child {
      background-color: variables.$x-color;
    }
    // Draw score card.
    &:nth-child(2) {
      background-color: variables.$draw-color;
    }

    // Player O score card.
    &:last-child {
      background-color: variables.$o-color;
    }
  }
}
